 
        
//         .footer {
//   margin-top: 40px;
//   padding: 20px 0;
//   text-align: center;
//   font-size: 0.9rem;
//   color: #aaa;
//   border-top: 1px solid rgba(255,255,255,0.2);

//   p {
//     margin: 5px 0;
//   }

//   .footer-link {
//     color: #f97316; // orange or your theme color
//     text-decoration: none;
//     margin: 0 5px;

//     &:hover {
//       text-decoration: underline;
//     }
//   }
// }


@import "../../app.scss";

.footer {
  margin-top: 40px;
  padding: 20px 0;
  text-align: center;
  font-size: 0.9rem;
  color: #aaa;
  border-top: 1px solid rgba(255,255,255,0.2);
  @include mobile{
    margin-top: 80px;
  }

  p {
    margin: 5px 0;

  }

  .footer-link {
    color: #f97316; // orange or your theme color
    text-decoration: none;
    margin: 0 5px;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 768px) {
    font-size: 0.8rem;
    padding: 15px 10px;
  }
}
